<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
        
    {% endblock title %}

    
    {% block appcss %}
        
    {% endblock appcss %}
        
    
    {% include 'snippets/styles.html' %}
</head>
<body>
    {% include 'mycontent/snippets/navbar.html' %}

    <div id="jumbotron" class="mt-3 p-4">

        
        {% block subheader %}
            
        {% endblock subheader %}
            
        
        {% block content %}
            
        {% endblock content %}
            

    </div>

    {% include 'snippets/scripts.html' %}
</body>
</html>