{% extends 'mycontent/base.html' %}
{% load  static%}


{% block title %}
    <title>Welcome | {{title}}</title>
{% endblock title %}


{% block subheader %}
    <h2>Selamat datang dihalaman {{title}}</h2>
{% endblock subheader %}
    

{% block content %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quo, voluptatibus temporibus ullam vero accusamus cupiditate sit nesciunt obcaecati. Facilis vel laudantium ducimus architecto, accusantium tempora magnam ipsum deleniti vero.
    </p>
{% endblock content %}
    
    